.navbar {
  display: flex;
  padding:0;
  margin:0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,.08), 0 4px 12px rgba(0,0,0,.08);
  flex-wrap:nowrap;
}

.navbarBrand {
  margin: 15px 0 15px 50px;
}

.navbarItems{
  list-style: none;
  margin: 15px 50px 15px 0;
  display: flex;
  width: 100%; /* It is necessary in order to use justify-content: flex-end*/
  justify-content: flex-end;
}

.navbarItems li {
  margin-right: 25px;
}

.navbarItems a {
  color: #000;
  text-decoration: none;
}

.navbarItems a:hover,
.navbarItems a:active {
  color: #138496;
}
